[2016-02-24 12:26] seandavi opened #1 "Support limited number of annotationHub objects"
All of these AH objects would need to be serialized to disk first in a format that IGV understands....

[2016-02-24 12:35] seandavi opened #2 "Support for visualizing genomic data"
I'm thinking about SummarizedExperiment objects as heatmaps or wiggle tracks, depending on data type.  Again, needs to be serialized to disk, unfortunately.

[2016-03-11 04:37] paul-shannon commented on #1
@seandavi  - sorry to be so slow to reply.
Could you give me a few AnnotationHub examples? After I support then within the package, they would probably serve as good vignette and unitTest examples also.

 - Paul

[2019-03-28 16:40] taytayp opened #3 "Can't get started - igvR() fails"
Hi all,

I'm just trying to get started using [this tutorial](https://bioconductor.org/packages/release/bioc/vignettes/igvR/inst/doc/igvR.html).

After installing from bioconductor, I get errors immediately while trying to use igvR(). With verbose reporting on, I see:
[code]

It sounds like there needs to be some sort of html file available that igvR can't create? Would appreciate some guidance!

[2019-03-28 16:47] taytayp commented on #3
Whoops, this might be important too: Ubuntu 18.04

[code]

[2019-03-29 14:34] hubentu commented on #3
Hi @paul-shannon @taytayp ,

I got the same error here. I found the `igvBrowserFile` was defined in the .onLoad.
[code]
But the `browserCode` directory in the version 1.2.0 of igvR from @Bioconductor is empty.

I tried to install the github version, which contains this file.
[code]
However, I got another error to start igvR.
[code]

Thanks for your help!

[2019-03-29 15:22] taytayp commented on #3
@hubentu good call, glad it's not just me.

I get the same error when loading the github code. Searching through the repo, looks like `as.vector(x, "character")` doesn't show up. Sounds like igvR is passing an environment when it's not supposed to.

[2019-03-29 16:03] paul-shannon commented on #3
@taytayp @hubentu  Thanks for the bug reports - most helpful.   I'll have a fix by the end of the day.

[2019-03-29 16:53] paul-shannon commented on #3
@taytayp @hubentu Could you try a fresh pull and then ````R CMD INSTALL .````?  I had updated the bioconductor with my changes over the last many weeks, but not this repo.   It is current now, package version ````1.3.4````

Note that the distribution includes code to build igvApp.html from javascript source - but you do not need to do that.  igvApp.html, already assembled, is in the repo, and ends

[2019-03-29 17:03] taytayp commented on #3
@paul-shannon No worries, thanks for the speedy updates.

I'm still getting the same environment issues. My steps:
[code]

I'm not missing anything here, am I?

[2019-03-29 18:15] paul-shannon commented on #3
@taytayp
Here's what I get, following the same steps - though retaining and then making method calls on the igvR object returned by the constructor:

![image](https://user-images.githubusercontent.com/2480712/55253922-d8671000-5213-11e9-80da-38f1bd119dde.png)

![image](https://user-images.githubusercontent.com/2480712/55253965-f7fe3880-5213-11e9-951d-6e2f86676036.png)

[2019-03-29 18:28] hubentu commented on #3
Hi @paul-shannon ,

I got the same error as @taytayp . My BrowserViz (2.5.7) and httpuv (1.5.0) versions are different from your session.
Could you also update the BrowserViz package in your github? I guess the error might come from this package.
Thanks!

[code]

[2019-03-29 18:29] taytayp commented on #3
@paul-shannon @hubentu

It looks like we're both on R 3.5.3 while Paul is on 3.5.1. I'm going to try and install the older version to see if that's the culprit. It seems unlikely, but those little differences can make a big deal at times.

[2019-03-29 18:32] paul-shannon commented on #3
R versions are less likely to explain the problem than @hubentu’s suggestion that I failed to push updates to BrowserViz.  I will remedy that now - let’s see how that goes.

Thanks to you both for your patience!

 - Paul

[2019-03-29 18:43] paul-shannon commented on #3
After upgrading to httpuv 1.5.0, I now get the error you report:
[code]

I'll do my best to fix this by the end of the day.   Thanks again!

[2019-03-29 22:31] paul-shannon commented on #3
@hubentu @taytayp  It appears that lots has changed with httpuv 1.5.0.  I am working through them now.  I will keep you posted.

[2019-03-31 19:37] paul-shannon commented on #3
@hubentu @taytayp
igvR version 1.3.6  and BrowserViz version 2.5.12 now accomodate httupuv 1.5.0
Let me know how it goes for you after pulling, installing both packages, then running igvR

[2019-04-01 13:59] taytayp commented on #3
Working great for me! Thanks for your quick support, Paul. I'll let you know if any other issues come up. I'm excited to work with the package.

[2019-04-01 14:03] hubentu commented on #3
Also works great for me! Thank you for your quick fix.

[2019-04-01 18:59] paul-shannon commented on #3
@hubentu @taytayp   Just fixed a bug in BrowserViz.  The "find the first open port" option failed, and my weekend tests had failed to pick it up.   You will almost certainly want to pull and rebuild BrowserViz package version ````2.5.13````

I'd be glad to hear of any further problems you encounter, and/or features you'd like to see.

[2019-04-02 15:07] hubentu opened #4 "How to display alignment track in igvR?"
Hi @paul-shannon ,

Could you please give an example to display an alignment track (bam)?
I couldn't find `AlignmentTrack` in the package, but there are "alignment" trackType and "bam" fileFormat available in the `Track` function.

Thanks,
Qiang

[2019-04-02 15:14] paul-shannon commented on #4
This is has been on my list to do for a long time.  I think I have time  today, by the end of the week for sure.  Thanks for the making the request.

 - Paul

[2019-04-02 15:17] hubentu commented on #4
That would be great. Thanks for your work!

[2019-04-06 00:03] paul-shannon commented on #4
@hubentu  - with apologies: I have not finished this task yet.  It is a high priority for next week.

[2019-04-08 14:36] paul-shannon commented on #4
@hubentu For a first, draft version of support for alignment tracks, I imagine something like this, working on a in-memory bam object created with ````Rsamtools````.  Could you comment?
[code]
Another constructor might look like this:
[code]
Both approaches defer consideration of all the igv.js bam file display options for later.  I will use default display options for a quick start.

Please let m

[2019-04-08 15:03] hubentu commented on #4
Hi @paul-shannon ,
Yes, it would be great to implement both approaches.
For the first `GRanges` approach, I am more comfortable with `GAlignments` object from `GenomicAlignments` package for alignments, which contains all necessary elements for visualization.  The `scanBam` will return a list from the `what` param. The `cigar` is also required to plot an alignment (indel, SV..).
Here is an example

[2019-04-08 16:30] paul-shannon commented on #4
Which would you like to see implemented first?

[2019-04-08 16:37] hubentu commented on #4
I think the second one (bam file) will be more popular for general use. Please implement this one first.

For a developer, I think the first one will be more helpful. I plan to write a tool for indel check, which will depend on your package and use the `GAlignments` as input.

Thanks!

[2019-04-09 13:56] #3 closed, assigned to nobody

[2019-04-10 14:06] paul-shannon commented on #4
@hubentu  My progress on this feature is held up just now by the need to return a binary file using the httpuv WebServer.  It works fine for vcf, bed, bedGraph and seg files - all of them plain text.  I hope to get a solution from the httpuv team quickly.

[2019-04-10 14:41] hubentu commented on #4
Thanks for the update!

[2019-04-13 18:51] paul-shannon commented on #4
@hubentu

Some simple alignment track support is now available.

You'll need to pull ````BrowserViz```` ````2.5.14```` and ````igvR```` ````1.3.12````.

Use it this way:
[code]
Some obvious deficiencies
  -  verbose output to the console for debugging purposes for a few more days
  -  none of the many bam track options provided by igv.js available
  - currently there is  just the one method for cr

[2019-04-15 16:49] hubentu commented on #4
Hi @paul-shannon ,

The new track works great! Thank you very much for your work.
A trick option is to define all `what` to show sequences. Otherwise, it won't show detailed counts and point mutation.
[code]

Also an error occured to use `displayTrack`.
[code]
It can be fixed by loading the R.utils pacakge.

Thanks,
Qiang

[2019-04-15 18:19] paul-shannon commented on #4
@hubentu   Thanks for the bug report.  I replaced all ````printf(...)```` (which I define locally in my .Rprofile) with ````message(sprintf(...))````   This replacement is in the ````1.3.13 ```` version of the package, comitted just now.

Also, I'd be grateful if you could give me a working example of how you would use ````scanBanWhat()```` - better yet, could you do that with the little bam file

[2019-04-15 18:36] hubentu commented on #4
Hi @paul-shannon , got an error when installing the 1.3.13 version.
[code]

Also, could you commit the BAM file to your github repository? Thanks!

[2019-04-15 19:43] paul-shannon commented on #4
aplogies @hubentu !   sloppy programming on my part.  version 1.3.14 fixes the syntax errors, adds a little bam file, tests pass.
[code]

[2019-04-15 21:11] hubentu commented on #4
Hi @paul-shannon , I got an error with `what = scanBamWhat()`. I think it occurred because there is no real sequence in the example bam.

[code]

This bam works well.
[code]

[2019-04-15 23:32] paul-shannon commented on #4
@hubentu
Your tumor.bam and your use of scanBamWhat() are now used in test_igvR.R::test_displayAlignment.
All seems to work well.

Many thanks for this contribution, and for your help in getting this right.
I am looking forward to your next requests!

[2019-04-16 18:19] hubentu commented on #4
Hi @paul-shannon,
Great. Thank you for your quick implementation of this feature!

On Mon, Apr 15, 2019 at 7:32 PM Paul Shannon <notifications@github.com>
wrote:

[2019-04-17 16:02] paul-shannon commented on #4
Good idea! We can be do anything in IgvR which igv.js supports; I may have seen a demo of this.  Could you kindly find something similar in the igv.js repo wiki, send me a pointer?

 - Paul

[2019-04-17 16:27] hubentu commented on #4
I just found igvR work perfectly with multiple tracks by appending displayTrack.
[code]
I need to press extra "Enter" after run displayTrack everytime. Otherwise, it will give me a strange error when submitting in a batch.
[code]

[2019-04-17 17:55] paul-shannon commented on #4
After my last reply I thought, “It should just work!”.  I am glad to learn that it mostly does.

The error you see is on my list of things to fix.   As written, igvR expects to get messages at interactive speed:  that is, call a function, see the result, call the next function.

This is a suboptimal design.  Javascript provides, and Jim’s igv.js makes use of, promises.  I plan to refactor my code

[2019-04-17 18:12] hubentu commented on #4
Got it. Thanks!

[2019-05-09 12:54] janstrauss1 opened #5 "Error in .QuantitativeTrack()"
Dear @paul-shannon,

I am learning to use igvR using the vignette at [https://bioconductor.org/packages/release/bioc/vignettes/igvR/inst/doc/igvR.html](https://bioconductor.org/packages/release/bioc/vignettes/igvR/inst/doc/igvR.html).

Everything runs smoothly (see attached screenshot) apart from adding the quantitative track "IGAP.gwas.scored" using

`track.gwas.numeric <- DataFrameQuantitativeTr

[2019-05-09 13:15] paul-shannon commented on #5
Thanks for the bug report.  I need to update the vignette.  The man page is up to date, however:
[code]

[2019-05-09 13:22] janstrauss1 opened #6 "support for more genomes"
Dear @paul-shannon,

I just realized that the `setGenome` method currently only supports hg38, hg19, mm10 and tair10 limiting the use of igvR for the research community.

Do you plan to extend the list of supported genomes in the near future? Will it also be possible to load genomes from a file?

I would personally be very interested in support for the genome of the malaria parasite Plasmodium fal

[2019-05-09 13:33] paul-shannon commented on #6
@janstrauss1 I'd be glad -- working with Jim Robinson, the creator of igv.js -- to add additional genomes - and to document how to add your own.   I will contact Jim directly.   In my recollection we need the genome and a gff3: can you direct me to your preferred versions of these two?

[2019-05-09 14:07] paul-shannon commented on #6
@janstrauss1
I just reminded myself of the mechanism for supporting a new genome in igv.js and thus in igvR.  While waiting for a reply from Jim on his ideas on contributing new genomes to igv.js for all to use, here is what I can pretty easily add support for -  so that you can host your own genome, as long as you have access to a webserver which supports range requests.  We need range requests i

[2019-05-09 15:48] janstrauss1 commented on #6
@paul-shannon, you could use the genome and gff3 from the most recent release of PlasmodDB release available at [https://plasmodb.org/](https://plasmodb.org/common/downloads/release-43/Pfalciparum3D7/).

Alternatively, you should get the files from [ftp://ftp.sanger.ac.uk/pub/project/pathogens/Plasmodium/falciparum/3D7/](https://plasmodb.org/common/downloads/release-43/Pfalciparum3D7/).

[2019-05-09 15:58] janstrauss1 commented on #6
Sounds good to me as far as I can judge.

However, I would currently already be happy if all the genomes that are hosted on the IGV genome server would be supported. See [https://software.broadinstitute.org/software/igv/Genomes](https://software.broadinstitute.org/software/igv/Genomes) for a full list.
It already supports several genomes for the Plasmodium parasite (listed at 97. - 105.)

[2019-05-10 00:03] paul-shannon commented on #6
@janstrauss1
Support for Pfalciparum 3D7 is now (at least minimally) in igvR 1.5.6.   I am hosting three files that you directed me towards:
 -   PlasmoDB-43_Pfalciparum3D7_Genome.fasta
 -   PlasmoDB-43_Pfalciparum3D7_Genome.fasta.fai
 -   PlasmoDB-43_Pfalciparum3D7.gff

Jim Robinson, igv.js principal author, explains that the 100+ IGV desktop genomes are not available to igv.js - I don't know why

[2019-05-10 13:36] janstrauss1 commented on #6
@paul-shannon, thanks for adding support for the Pfalciparum 3D7 genome! The genome fasta and annotation gff file versions from PlasmoDB look generally ok to me.

However, the information at PlasmoDB appears to be only periodically updated according to [Wellcome Sanger Institute](https://www.sanger.ac.uk/resources/downloads/protozoa/plasmodium-falciparum.html).

Thus, I would suggest to rather use

[2019-05-10 17:52] paul-shannon commented on #6
@janstrauss1 "continually updated" hmm - I may not be in a position to keep the 3D7 genome as current as you wish.

With that in mind, the package now includes a full demo showing how to serve up annotation and reference genome tracks yourself, ````locally```` for use within igvR.    You can therefore add and/or update any and all reference and annotation tracks whenever you wish.  See
[code]
This

[2019-05-13 13:36] janstrauss1 commented on #6
@paul-shannon, that's fine! I didn't mean to ask you to keep the genome continuously up-to-date but rather wanted to make sure that you use the most recent genome and annotation file versions currently available.

Thanks a lot for including a full demo on how to use annotation and reference genome tracks `locally`! I will give it a try.

Thanks again for your great help!

[2019-05-13 19:21] pgasperowicz commented on #4
Dear  @paul-shannon
Yesterday I was looking for a solution to my problem and I came across igvR and I have to say that this is exactly what I was looking for. First, I studied the example in HTML brochure and everything works like a charm: https://bioconductor.org/packages/release/bioc/vignettes/igvR/inst/doc/igvR.html
But moving forward - an error occured when I wanted to display alignment track

[2019-05-13 19:40] paul-shannon commented on #4
@pioters Glad to hear that igvR might be useful to you.

Could you pull and install the latest versions of igvR (1.5.6) and BrowserViz (2.7.1) and see if the error persists?   I'll jump right on the problem if it these updates do not fix it.

https://github.com/paul-shannon/igvR/
https://github.com/paul-shannon/BrowserViz

[2019-05-13 20:44] pgasperowicz commented on #4
Thanks for quick reply!
I`ve managed to update both igvR (1.5.6) and BrowserViz (2.7.1) and it seems that the first error has been solved but another one poped up. Same BAM, different chromosomal location:

[code]
It seems that there is something wrong with SAM file at record 307 in temp folder but i can`t see what would it be. My knowledge about SAM files structure is poor actually.
[code]
@paul-

[2019-05-13 21:22] paul-shannon commented on #4
how big is your bam file?  can you put it somewhere I can grab it?

[2019-05-13 21:55] pgasperowicz commented on #4
Sure. It`s 42MB
https://drive.google.com/drive/folders/1PVZH09x7y0BxVdm0Sfu_Vwixz1MY03t4?usp=sharing

[2019-05-14 22:47] paul-shannon commented on #4
The few lines of R code shown below display a 311 bp region of your bam file, just to show how things work.
Some preliminaries:
[code]

[code]

[2019-05-15 15:49] hubentu commented on #4
Hi @paul-shannon @pioters ,

I can repeat the error in the region chr12:166204091-166204191. I think this is a bug caused by the process of import/export BAM file.
[code]
"NA" in the object "x" will cause the error:
[code]
For example, unmapped:
[code]
Mate unmapped:
[code]

The object can be converted to BAM after NA fixed.
[code]

[2019-05-21 18:17] paul-shannon commented on #6
@janstrauss1  I will replace the PlasmoDB genome for igvR with the next update to GeneDb.   If you find igvR useful, and depend upon the current P falciparum genome, I will automate this.  Just let me know.

[2019-05-21 18:19] paul-shannon commented on #4
@hubentu  Good detective work!   As I understand things, the problems lies in an imperfect bam file, and rtracklayer's sensitivity to that imperfection.
@pioters Do you have what you need?

[2019-05-22 08:04] janstrauss1 commented on #6
@paul-shannon, that's great thank you!
Yes, I find igvR very useful and will depend on the current P. falciparum genome in the future. I would therefore highly appreciate if you could automate this process.
Many thanks for your efforts!

[2019-06-18 17:32] duleise opened #7 "is it possible to move the track names to the side instead of on the track?"
even thought “hide track name” is an option, when i do want to show it, in some cases the name is covering the leftmost part of the track.
it would be nice to move the name outside of the track area. it would be nicer if they can be right aligned.
great package and clear vignette.
thank you.

[2019-06-21 22:36] pgasperowicz commented on #4
@paul-shannon
@hubentu
Yes! Everything works great! Big thanks to both of you!
I am sorry for the answer after like a month but I was forced to take care of other things and this problem was put aside.

[2019-06-21 22:37] paul-shannon commented on #4
Glad to hear it works wel!

[2019-06-21 22:37] #4 closed, assigned to nobody

[2019-06-23 14:45] pgasperowicz opened #8 "Is it possible to save the results automatically?"
@paul-shannon
Hi!
I would like to save localhost to *.png or *.svg. The recorded image should contain all the displayed information: navigation panel, chromosome image, refseq, all tracks. Best solution would be to make a screenshoot.

I tried the `webshot` package but unfortunately it does not recognize localhost. I also tried to import the content back to Rstudio Viewer Pane but nothing came of

[2019-06-25 16:05] paul-shannon commented on #8
@pioters Good suggestion.   It's a busy week so I may not get to this till the weekend.  But get to it I will!

[2019-07-03 20:08] paul-shannon commented on #8
@pioters  It took me longer to get around to this than I predicted.   But save to svg is now supported:

   - Version 1.5.10
   - ````saveToSVG(igv, filename)````

Let me know if it does what you need.

[2019-07-04 09:05] pgasperowicz commented on #8
Awsome! I'll get to it at the weekend.

[2019-07-15 14:49] pgasperowicz commented on #8
Perfect. Works like a charm. Thank you!

[2019-10-04 21:17] nathanweeks opened #9 "Support HTTPS"
I'm unable access an igvR instance that is running from RStudio Server behind a reverse proxy that uses HTTPS. The new (Chrome) browser window that opens has the following error in the JavaScript console

while the R console hangs with this output, apparently indicating that a connection is not established:
[code]
It seems that igvR (and BrowserViz) only considers http:

https://github.com/paul-sh

[2019-10-08 19:37] paul-shannon commented on #9
@nathanweeks  Sorry I did not reply sooner - and thanks for the suggestion.  I will pursue this by the end of the day tomorrow.

[2019-10-08 19:37] #8 closed, assigned to nobody

[2019-10-08 19:39] paul-shannon commented on #7
@duleise So sorry for this ridiculously late reply!
I'm afraid that this display policy, for track names, is set by Jim Robinson in igv.js.
If you can persuade him to add this flexibility I will certainly support it in igvR.
Sorry I cannot be more directly helpful.

[2019-10-08 19:42] paul-shannon commented on #6
@janstrauss1 I am updating igvR for the upcoming bioconductor release.  I see that igv.js [hosts](https://github.com/igvteam/igv.js/wiki/Reference-Genome) a few more genomes, but still no Pfalciparum.

I confess: I have not done the automation I offered back in May.  Is this still of active interest to you?

[2019-10-08 19:50] #5 closed, assigned to nobody

[2019-10-09 07:20] janstrauss1 commented on #6
Dear @paul-shannon, thanks for the update!
Yes, I'm still very interested to use igvR with the most current Pfalciparum genome and would appreciate if you could include the automation.
Many thanks in advance!

[2019-10-10 14:45] paul-shannon commented on #9
@nathanweeks

I just pushed BrowserViz 2.17.10.   It includes your code verbatim.
Are you able to pull and build from the paul-shannon repo?

You mentioned encountering difficulty building igvR.  Could you provide details?  Perhaps I could help with that, learn from your difficulties, maybe for BrowserViz too if it is not a straightforward pull and
[code]

[2019-10-11 13:25] nathanweeks commented on #9
Hi @paul-shannon , I did a `devtools::install_github("paul-shannon/BrowserViz")` and verified that the following code snippet resulted in a successful websocket connection when run from an RStudio Server instance that is behind a TLS terminating [reverse proxy for Open OnDemand](https://osc.github.io/ood-documentation/master/app-development/interactive/setup/enable-reverse-proxy.html)
[code]
(it s

[2019-10-11 18:57] paul-shannon commented on #9
Hi @nathanweeks,
You got it right, and thank you.    I had forgotten to copy the browserviz.js into the igvR package and update the repo.

I _think_ everything required is now there:
   - ````BrowserViz 2.7.17````
   - ````igvR 1.5.27````

Let me know how it goes.

[2019-10-15 15:50] nathanweeks commented on #9
Yes, those updates did the trick! At least, following the [igvR vignette](https://bioconductor.org/packages/devel/bioc/vignettes/igvR/inst/doc/igvR.html), this code chunk opens a browser tab that renders MEF2C:

[code]
However, when I attempted to run the subsequent code chunk that called `displayTrack()`, the following error displayed in the igv.js window:

I've tried setting the `igvR(host="..."

[2019-10-15 16:01] paul-shannon commented on #9
This rings a bell - I encountered something like this in igvShiny <https://github.com/paul-shannon/igvShiny>.   I can refresh my memory later today, but in case you want to forge ahead, I think the trick is (something like) this:  tell the RStudio web server to treat a specific directory as a legitimate place to use in http GET requests.  Then write your temporary track files there.

Let me know i

[2019-10-15 16:37] nathanweeks commented on #9
Thanks; I attempted to implement this suggestion by bind mounting the /tmp directory (which is writable in the Singularity container) to a tmp/ subdirectory the rserver www files path (`--www-local-path` option, which in the Rocker container image defaults to /usr/lib/rstudio-server/www).

Now I can point my browser to, e.g., `https://proxy.example.edu/rnode/compute-node-1/8668/tmp/RtmpTSF5s5/file

[2019-10-16 10:26] malger opened #10 "support multiple colors in annoation tracks"
When i load bed annotation tracks into IGV (desktop app) there is support for multiple colors within one annotation track.
The color is an optional column within the bed-file called
[code]

See the Bed-file specification here:
https://www.ensembl.org/info/website/upload/bed.html

When i add a GRangeAnnotationTrack with a color column, this is ignored and the track is
colored grey (default coloring

[2019-10-16 16:32] paul-shannon commented on #10
@malger Thanks for the report and suggestion.

For an immediate solution you may wish to try the following, though this requires that you first transform your GRanges track into a data.frame.  This example uses a bed file with all 12 columns, including itemRGB, as in the specification you link to.  See simple screenshot below.  This code is from ```inst/unitTests/test_igvR.R```,  function ````test

[2019-10-16 18:50] paul-shannon commented on #9
@nathanweeks
Thanks for the sleuthing around.   That embedded question mark in the url is the clue I use to parse out the path to the object of the http GET.   You may have already figure that out.

I'd be glad to take a closer look at this after the bioc release, in a couple of weeks.
At that time (or sooner) could you provide me with a reproducible example, distilled (where possible) to a minimu

[2019-10-17 20:31] paul-shannon commented on #6
Hi Jan,

Looking just now at https://plasmodb.org/common/downloads/release-43/Pfalciparum3D7/ it appears that the three annotation file we use in igvR, which I install on May 9th, are still current - nothing new to update with.

Set me straight on this if I got it wrong?

 - Paul

[2019-10-18 07:27] janstrauss1 commented on #6
Hi Paul,

Could you please compare the annotation file used in igvR to the files available at [https://plasmodb.org/common/downloads/Current_Release/Pfalciparum3D7/](https://plasmodb.org/common/downloads/Current_Release/Pfalciparum3D7/)?
I can well imagine though that the files are still current and no update is necessary.

Maybe you can use the `./Current_Release/Pfalciparum3D7/` directory for au

[2019-10-18 12:22] duleise opened #11 "error, unsupported genome: 'hg19'"
My used-to-working-fine codes gave me this error. I hope it is temporary. Anyone else has the same?

[code]

[2019-10-18 13:05] paul-shannon commented on #11
Hi Otto,

Sorry for the trouble.   Can you run

   sessionInfo()

and provide the results?   That will help me track down the problem.

 - Paul

[2019-10-18 13:10] duleise commented on #11
hi, Paul, thank you for such a prompt reply.
I restarted a clean session and had the same error. Here is my sessionInfo.
The only suspicious action I can think of is, I updated to macOS Catalina.

/Otto
[code]

[2019-10-18 13:22] paul-shannon commented on #11
Thanks, Otto.  I am puzzled.  Your versions are quite (but not completely) up to date.  And setGenome(igv, “hg19”) is the most basic test - which (for me) runs daily.

Can I trouble you to upgrade to yesterday’s version,  1.5.36?  For that version I added more genomes.

  intall_github(“paul-shannon/igvR”) ought to do it.

Then:

igv <- igvR()
getSupportedGenomes(igv)

 "hg38"     "hg19"     "hg18

[2019-10-18 13:40] duleise commented on #11
hi, Paul. Thanks. I have upgraded to the latest on github.

[code]

And the sessionInfo is
[code]

Let me try to find more symptom.

[2019-10-18 13:47] paul-shannon commented on #11
Thank, Otto.  Let’s figure this out.

A clue may come from the Javascript console.  After I call

   R> setGenome(igv, “hg19”)

the console shows:

--- igvApp.js,  initializeIGV
(index):666  actual genome name we will use: hg19

[2019-10-18 13:51] duleise commented on #11
Thanks Paul. I have little knowledge on Javascript.
I will try it after a system reboot but I am in the middle of something now.
Let me know if there is any test I can do from my end.

[2019-10-18 14:14] paul-shannon commented on #11
Sure - let me help when you have time to pursue this.

Which web browser do you use?   Almost all have an easy command, usually available from a menu, which opens the Javascript console.   Nothing else is needed:  our Javascript code writes messages to the console, and we may be able to figure out what the problem is.  I can add more diagnostic code that will appear there.

If you use chrome, you

[2019-10-18 15:01] duleise commented on #11
Thanks Paul. This is the contents in my Chrome after I initiated igvR().

[code]

[2019-10-18 15:07] paul-shannon commented on #11
Good!  Can you also send me the text which appears in the console when you enter the R command:

R> setGenome(igv, “hg19”)

[2019-10-18 15:09] duleise commented on #11
I don't know what to say. It worked! And I definitely did nothing...

[2019-10-18 15:28] paul-shannon commented on #11
@duleise  I *suppose* that's good news!   But far better it would be if I could figure out what caused the problem.  Will you let me know if it comes up again?   Along with any other problems you encounter, requests for features you would like to see?

[2019-10-18 15:33] duleise commented on #11
Thank you so much, Paul. What happened today is unexplainable, at least to me. I will surely report it if it comes again.
I have been constantly using your package since before this summer and will most likely continue using it for quite a while. It's been a pleasure.
I have asked about a trivial feature in another thread and you have answered.
Working on a paper now and will definitely thank you

[2019-10-18 15:33] #11 closed, assigned to nobody

[2019-10-18 16:32] nathanweeks commented on #9
@paul-shannon : FWIW, if I bind mount /tmp to  /usr/lib/rstudio-server/www/tmp, slightly modify igvR.R by changing all instances of
[code]
to
[code]
and in the R script set, e.g.
[code]
(no trailing slash)
Then I am able to load tracks (a definite payoff!). But it would be great if such workarounds weren't necessary. A small step might be auto-populating igv@uri , which I had set by copying & past

[2019-10-19 00:16] paul-shannon commented on #9
@nathanweeks

Good work, Nathan.  Excellent sleuthing.

It would be easy for me to slip in an experimental method on the igvR class, something like:

   setHostedFileUrlProtocol(igv, “%s%s”)

while the existing practice (“%s?%s”) stays on as the default.   That could give you an immediate workaround, you could test on your end, my tests would all work as before.

Then, with the urgency passed, and

[2019-10-21 18:08] nathanweeks commented on #9
Hi @paul-shannon , yes, that seems like it would for testing purposes. Thanks!

[2020-01-06 11:18] malger commented on #10
thanks for the help

[2020-04-21 07:55] chrkouts opened #12 "Support for .bedpe tracks"
Dear @paul-shannon,

Thank you for your great work!
I would like to ask if you plan to include .bedpe tracks as well.
That would be very helpful with visualising Hi-C interaction loops.

Many thanks in advance for your help!
Christina Koutsothanasi

[2020-04-24 18:21] paul-shannon commented on #12
Hi Christina,

Working on this now - it is taking a little longer than I anticipated.

I see that the example you gave, GM12828, also used by Jim Robinson and the igv.js developers, has only 6 columns - a good minimum, of course, in that chrom1, start1, end1, and chrom2, start2, end2 establishes the basics.

At bedtools.readthedocs.io/en/latest/content/general-usage.html they claim that a “typical

[2020-04-24 23:04] paul-shannon commented on #12
@chrkouts  - Hi Christine,

igvR version 1.7.10 has an early version of the BedpeInteractionsTrack.  Only the ````data.frame```` constructor for now: no http uri yet.  Give this a try: I welcome feedback.
I will try to add the url constructor over the weekend.
- Paul
From the man page:
[code]

[2020-04-25 08:59] chrkouts commented on #12
Dear Paul,

Thank you for you quick response, I really appreciate your help.
I downloaded the new version and it works!
As you said on igv.js handle both types of bedpe files.
As for the 10 columns bedpe I can just convert the data.frame to a six columns one, before calling the BedpeInteractionsTrack function.

Thank you again for your help.
Christina

[2020-10-25 03:05] orionzhou commented on #6
Dear @paul-shannon , I'm a new user of igvR and finds it a perfect tools to visualize my interested regions in R!  Just a follow-up on this thread on the plan to support custom genomes, is the proposed method available yet?
[code]
I'd be definitely interested in giving it a try if possible!

Thanks!

[2020-10-25 15:41] paul-shannon commented on #6
Hi @orionzhou,
Thank you for the prompt to return to this task.  I am working on it now.
Two requests, if I may:
   - Could you post your question (also) to https://support.bioconductor.org so that others in the community who may be interested will see this?
   - Can you provide URLs for fasta, fasta index, cytoband and a gene annotation track for you organism?  That will permit me to test the cod

[2020-10-25 17:35] orionzhou commented on #6
Thanks for the reply, and yes -

here is the [question posted on bioconductor](https://support.bioconductor.org/p/p132403/)

here is the genome files:

"id": "maize",
"name": "Zea mays B73v4",
"fastaURL": "https://s3.msi.umn.edu/zhoup-igv-data/Zmays-B73/10.fasta",
"indexURL": "https://s3.msi.umn.edu/zhoup-igv-data/Zmays-B73/10.fasta.fai"
{
    "name": "Genes",
    "format": "gff3",
    "url": "htt

[2020-10-27 17:31] paul-shannon commented on #6
@orionzhou,   I have an early version of ```setCustomGenome` working with your mays data.

However, somethings seems amiss, which I reproduce in a minimal html/js scripts - for hg38 (which loads fast) and mays (which takes five minutes).  I downloaded all of the relevant files from a shell, using curl, and found that hg38 full fasta takes as long to download from aws as 10.fasta does from your ser

[2020-10-28 02:08] orionzhou commented on #6
Thanks @paul-shannon , the two human scripts load very fast, but it took ~1 minute to load the maize one on my side too.  It seems to be due to the GFF file - I removed the gene track and it loads very fast then.

The IGV-web app works as normal though: https://s3.msi.umn.edu/zhoup-igv/index.html

[2020-10-28 16:11] paul-shannon commented on #6
@orionzhou,

Let's defer the slow maize gff load puzzle for now.

A new version of the package (1.9.4) offers this method, shown here with two examples from ```inst/unitTests/test_setCustomGenome.R```.

Give me feedback, please.   Both use hg38 from igv at aws.  First, with all parameters set explicitly:
[code]
and then with the minimum parameters:
[code]

[2020-11-11 01:27] paul-shannon commented on #6
Hi @orionzhou,

I will be grateful if you could accept and approve the answer just updated on https://support.bioconductor.org/p/p132403/#p132805

Thank you!

 - Paul

[2020-11-25 04:31] orionzhou commented on #6
Great! Thanks a bunch Paul!

[2021-05-05 12:12] alessandriLuca opened #13 "svg file, right thumbinal but wrong svg"
Hi, i would like to compliment on this work. Is great! definetly better then the normal igv browser. Im planning to use it a lot.
I have some trouble on svg saving from both the browser and from the code it give me the same results. So apparently when i load a bedgraph with negative value they are displayed on the browser, then i save everything on svg and here is the problem, positive value of be

[2021-05-05 19:49] paul-shannon commented on #13
Traveling now, will look on Saturday.
Thanks for the report!

Sent from my iPhone

[2021-05-10 17:04] paul-shannon commented on #13
I had hoped to take a look at this during a brief stay in Boulder, but failed to do so.

I will be home on May 16th, and promise to look at this then.

 - Paul

[2021-05-11 07:18] alessandriLuca commented on #13
Hi, no worries, right now I solved with automatic screenshot xD so i can use it anyway! Take your time and thanks again!

[2021-05-11 10:23] alessandriLuca commented on #13
I Also have another question, is there any way in which i can disable track labels? From the browser i can unselect the option but i wasnt able to find anything related to that in the igvR code. Thank you again

Best

Luca

[2021-05-20 18:17] paul-shannon commented on #13
@alessandriLuca
I upgraded (this is long overdue) to igv.js 2.8.2, and igvR::getSvg() now works better.   But still not quite right.

See new issue at github igv.js[svg of +/- bedgraph lacks the zero line (chrom, safari, firefox) #1332](https://github.com/igvteam/igv.js/issues/1332).

I will update again once Jim Robinson solves this problem - or shows me that it is my error :)

Many thanks for th

[2021-05-24 14:26] alessandriLuca commented on #13
@paul-shannon many thanks for your work! Can i leave this open as a remind for when it will be totally fixed?

Thank you again and, again congratulation for the great job ;) is super usefull!!

Best

Luca

[2021-05-24 14:34] paul-shannon commented on #13
Yes, please leave it open.

Programmatic show/hide track labels goes in today.

Great to have your reports and requests!

 -  Paul

[2021-05-24 19:32] paul-shannon opened #14 "show|hide track labels"
@alessandriLuca proposes:

is there any way in which i can disable track labels? From the browser i can unselect the option but i wasnt able to find anything related to that in the igvR code.

[2021-05-24 19:59] paul-shannon commented on #14
@alessandriLuca
I added one method to igvR, version 1.13.5:
[code]

[2021-05-26 08:20] alessandriLuca commented on #14
That's perfect!!

Thank you again for your work ;). How can i cite you in the paper using igvR in my works?

[2021-05-26 13:48] paul-shannon commented on #14
I believe this is the usual approach:

  from within R, enter citation("igvR”)

Glad you find the package useful!

[2022-01-20 18:47] #12 closed, assigned to nobody

[2022-01-20 18:47] #6 closed, assigned to nobody

[2022-01-28 00:09] genec1 opened #16 "Error: no slot of name "alignementj" for this object of class "GenomicAlignmentTrack""
When I try to display a bam alignment track, I get the following error:

[code]

`R/igvR.R` is the only file in which "alignementj" appears.  Examining the slot names for the GenomicAlignmentTrack object, the closest is "alignment".  The temporary fix is to set igv@quiet to TRUE, causing this code block to be skipped.

[2022-01-28 00:16] genec1 opened #17 "`host` parameter ignored by igvR constructor"
The host parameter specified by the igvR constructor appears to be ignored and this is leading to errors displaying tracks:

[code]

Note that the `uri` slot and the displayTrack message both say "localhost" instead of the host value I specified.  The actual viewer also displays an error:
`Error accessing resource: http://localhost:15003?/tmp/Rtmp0ZcCIP/filec49620e6c76a.bam.bai Status: 0`

`sessio

[2022-01-28 20:07] paul-shannon commented on #17
@genec1  - looking at this now, thanks for the report.

[2022-01-29 01:20] paul-shannon commented on #17
@genec1,
The constructor's host argument is a bad idea - my bad idea, left over from a long time ago.  The man page on the constructor illuminates this, partly:
[code]
The justification:   igvR displays in your browser, and it is hard for me to imagine a case when "your browser" runs on anything but localhost.   Do you have a use-case that suggests otherwise?  I'd be glad to see that, and to see i

[2022-01-29 05:03] genec1 commented on #17
My particular use case is I’m running the code on an instance on AWS, as my local machine can’t handle the amount of data I’m working with.

I’m working with local bam files read into GenomicAlignment objects very similar to your first example. I will share actual code when I’m back on my workstation.

Thanks

[2022-01-31 17:02] genec1 commented on #17
Bam track display code:

[code]

[2022-01-31 18:34] paul-shannon commented on #17
Thanks @genec1.  Could you also give me the exact BAM_FILE_PATH so that, with proper substitutions, I can emulate it here?

 - Paul

[2022-01-31 19:29] genec1 commented on #17
BAM_FILE_PATH is the full path to a local file on the AWS instance where I'm running R, so I don't think it will be of help to you.

[2022-01-31 19:36] paul-shannon commented on #17
@genec1 - you are right, of course.   I will need to name a file on my local system since yours will be invisible to me.

Nevertheless, and though you may think I am being silly, please provide me with the exact full file path you use.

 - Paul

[2022-01-31 19:38] genec1 commented on #17
No problem.  I'm working with multiple files, but here is one:
`/home/rstudio/s3/HEK293T/SRR844_1.filtered.aligned.unique.bam`

[2022-02-01 00:48] paul-shannon commented on #17
Hi @genec1.   I am slow on the uptake here.   Sorry.  Let me ask a few more questions.

1) You built igvR on an aws instance.
2) You start igvR from an R session on that instance.
3a) Do you ask igvR to open a websocket connection, from aws, back to a browser running on your workstation, which is local - that is, you sit in front of it
3b) Or do you start up a web browser which runs on the aws ins

[2022-02-01 22:11] genec1 commented on #17
1 + 2 + 3a

Specifically, I am coding in a local web browser running RStudio, backed by rstudio-server on the AWS instance.  When I initiate igvR in my R session, a new window opens in my local web browser showing IGV.  This new window correctly shows the reference genome, but cannot show the programmatically loaded bam data since that is not on localhost relative to my browser session.

As a stop

[2022-02-02 20:01] paul-shannon commented on #17
@genec1
I have a presentation to give tomorrow, so today I can only give you  quick & dirty  instructions on creating a python flask webserver for serving up indexed genomic files, bam and vcf, for instance.   I will polish these up by the end of the week and add them to this repo's README.   I hope the following gets you going.  Let me know:

- python >= version 3
- two extra modules:  Flask and

[2022-02-03 02:20] genec1 commented on #17
This is very much appreciated!  I do not have the time to try it at the moment, but will give it a go in a week or two.

[2022-02-23 00:25] paul-shannon commented on #17
@genec1 I think I have figured out a few changes needed to run igvR from a remote RStudio (or plain R) session.  I will be testing in the next few days.   I hope this will be useful to you.

[2022-02-25 02:43] paul-shannon commented on #17
@genec1
igvR 1.15.8  and   BrowserViz 2.17.1 just passed all tests for me, running in a remote RStudio Server session.
Give it a try?

[2022-03-02 00:39] genec1 commented on #17
@paul-shannon I can confirm that it works with the GitHub versions when using the host parameter and running on a remote host.  Awesome!

[2022-03-02 00:57] #17 closed, assigned to nobody

[2022-03-02 00:58] paul-shannon commented on #17
Glad this worked out!  Let me know if you have other suggestions.

 - Paul

[2022-03-10 23:57] gvogler opened #18 "dm6 gene names on chromosomes other than chrX are not found"
I run data on the Drosophila dm6 genome and noticed that only genes from chrX are recognized and found (search box or via showGenomicRegion), but no gene on other chromosomes
[code]
The transcript of Msp300 is present in the track view and I can navigate their with coordinates, just not by gene. The standalone igv program can find those genes.

[2022-03-15 22:04] paul-shannon commented on #18
@gvogler - working on this now, taking some notes.
Msp300's coordinates: chr2L:5,100,877-5,207,002
bypassing igvR/javascript message passing, trying your test case in the javascript browser console, I think the problem lies in igv.js.  I will put the question to Jim Robinson, who is always responsive and helpful.
[code]
```search``` returns a Promise which, when examined for each of these cases, l

[2022-03-29 22:04] paul-shannon commented on #18
@gvogler Jim Robinson says this is now fixed: https://github.com/igvteam/igv.js/issues/1476#issuecomment-1082296795
Could you give it a try?

[2022-03-29 22:27] gvogler commented on #18
Perfect! Works like a charm.

[2022-03-29 22:27] #18 closed, assigned to nobody

[2022-03-29 22:29] paul-shannon commented on #18
glad to hear it!

[2022-04-04 19:43] paul-shannon commented on #16
@genec1  typo fixed.  Thank you for the bug report.

[2022-04-04 19:43] #16 closed, assigned to nobody

[2022-04-04 19:44] #14 closed, assigned to nobody

[2022-04-04 19:47] #10 closed, assigned to nobody

[2022-04-04 19:47] #7 closed, assigned to nobody

[2022-04-04 19:51] paul-shannon commented on #9
@nathanweeks After an inexcusably long delay, 2 1/2 years! I just noticed this issue never closed.   I am resolved to now provide better support.  Please let me know if there is anything you need in igvR, on this issue or another.   With apologies, Paul.

[2022-04-04 19:55] paul-shannon commented on #13
Just verified that ```showTrackLabels(igv, TRUE|FALSE)``` works, so closing this belatedly.

[2022-04-04 19:55] #13 closed, assigned to nobody

[2022-06-07 15:32] Daisy-Chilin opened #19 "GWASTrack() not found"
Hi, im trying to create manhatattan plots using GWASTrack. Im using the code from the manual but i keep getting an error when using GWASTrack():
```Error in GWASTrack(): could not find function "GWASTrack"```

Code used:
[code]

Session Info:
[code]

[2022-06-07 15:36] paul-shannon commented on #19
@Daisy-Chilin Thanks for the problem report.  I will respond with a fix by the end of the day.  I think this is due to a typo in the underlying igv.js, which Jim Robinson and I corresponded about on Sunday, and which requires a fresh build.  More from  me in a few hours.

[2022-06-07 15:37] Daisy-Chilin commented on #19
Great. Thank you for the quick response.

[2022-06-08 17:11] paul-shannon commented on #19
@Daisy-Chilin - Sorry, couple hours of work did not pay off.
I must put this aside till the weekend, when I will pursue GWAS-from-simple-bed files, which works reliably.  I will then modify your script to illustrate how to use this new version.

[2022-06-12 04:30] paul-shannon commented on #19
@Daisy-Chilin
This should work for you now, after you update igvR to ```1.17.6```
Here are the steps:
[code]
then you can try the ```GWASUrlTrack``` class:
[code]
![image](https://user-images.githubusercontent.com/2480712/173214536-6d725a68-02a1-4b04-a92e-bcdd09415a61.png)

Let me know how it goes.

 - Paul

[2022-06-13 15:30] Daisy-Chilin commented on #19
Great. Thank you so much. I will give this a try!
---
Daisy Chilin-Fuentes, M.S
Bioinformatics Engineer, Center for Computational Biology & Bioinformatics (CCBB)

UC San Diego Health Sciences
Altman Clinical & Translational Research Institute
9500 Gilman Drive #0681
La Jolla, CA 92093
***@***.******@***.***>

***All meeting and CCBB consultations are being held remotely via Zoom. ***
_____________

[2022-09-02 21:51] #19 closed, assigned to nobody

[2022-09-02 21:54] paul-shannon opened #20 "example(GWASTrack) broken"
incorrect chrom.col, pos.col. pval.col
poor choice of sample data

updated code:
[code]

[2022-09-02 22:01] paul-shannon commented on #20
@vjcitn  example(GWASTrack), with new data, now fixed in ```1.17.23```

[2022-09-03 10:46] vjcitn commented on #20
Yes, looks great.  Consider using if (interactive()) instead of \dontrun for example(GWASTrack), I think the whole example would work fine interactively.

[2022-09-04 17:07] paul-shannon opened #21 "UCSCBedGraphQuantitativeTrack example broken"
chr19 data does not display except when chromome=="all"

[2022-09-04 17:13] paul-shannon commented on #20
```example(function)``` is an R package feature I have rarely used.   I now see its utility.

```@examples``` for GWASTrack and half a dozen other tracks are now updated to run ```if(interactive())``` in 1.17.24.

I will update the other classes also.

thanks for this tip - I'm glad to have other eyes on this.

[2022-11-22 20:02] paul-shannon commented on #20
completed some months ago

[2022-11-22 20:02] #20 closed, assigned to nobody

[2022-11-22 20:12] paul-shannon opened #22 "unify igvShiny and igvR GWAS track APIs"
@vjcitn @stankiewicz565

Vince and Sara,

May I get your suggestions on unifying the GWASTrack APIs in igvR and igvShiny?

 Here is what we have now:
[code]
The igvShiny version is most recent.  ```data``` can be either a data.frame or a url, eliminating the need for two constructors.

Perhaps add ```color``` and ```visibilityWindow``` from igvR into the igvShiny version, then reuse that expanded

[2022-11-22 20:22] paul-shannon opened #23 "unify igvR and igvShiny removeTracksByName signature"
@vjcitn @stankiewicz565

Vince and Sara,

This may not be an easy fix, since igvR is an S4 object, and igvShiny is only functions.

in igvR/igvR.R:
[code]
in igvShiny:
[code]

[2022-11-23 19:48] vjcitn commented on #23
Can't the S4 method have a three argument signature and dispatch properly for the two packages?  Or you could use "ANY" for the second parameter of the S4 method and then test for classes of function inputs.

[2022-11-23 19:49] vjcitn commented on #23
I can take a shot at this if we are agreed that both packages are in their mature state for now.  I would then fork both and try to do the mods.

[2022-11-23 20:14] paul-shannon commented on #23
That would be most welcome, Vince.   Thank you!